<!DOCTYPE html>
<html lang="en">
<head>
    <link href="static\css.css" href="Osnova" rel='stylesheet' type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lili</title>
</head>
<body>
    <div id="">
        <div id="header">
            <h1>
                <a href='/' id='atop'>Lili</a>
                Register
            </h1>
        </div>
            <div>
                <ul id="navbar">
                    <li><a href="/" id="">Книги</a></li>
                    <li><a href="#" id="">Войти</a></li>
                    <li><a href="regist" id="">Регистрация</a></li>
                    <li><a href="Lyshee" id="">Лучшее</a></li>
                    <li><a href="O nas" id="">О нас</a></li>
                </ul>
            </div>
            <div>
                <head>
                    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
                </head>
                <body>
                    <form action="http://google.com/search" target="_blank" class="form-search">
                        <input type="search" name="text" required placeholder="Поиск в интернете">
                        <input type="submit" value="&#128269;">
                    </form>
                </body>
            </div>    
    </div>
    <h1>Register</h1>
    <form method="POST">
        <table>
            <tr>
                <td>login</td>
                <td><input type="text" name="login"></td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>repeat password</td>
                <td><input type="password" name="password2"></td>
            </tr>
            <tr>
                <td><a href="login">Create an account</a></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>
